/* General Styles */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(185, 185, 44);
    margin: 20px;
    padding: 0;
}

/* Header Styles */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #000000;
}

header p {
    font-size: 18px;
    color: #494949;
}

/* Exercise Box Styles */
.exercise-box-1 {
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    border: 2px dashed #000000;
    text-align: center;
    background-color: #969696;
    /* Default background color */
    font-family:'Times New Roman', Times, serif;
    /* Default font */
        background-color: lightblue;
            font-family: Arial, Helvetica, sans-serif;
}


/* Exercise Box Styles */
.exercise-box-2 {
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    border: 2px dashed #580000;
    text-align: center;
    background-color: #ffc2c2;
    /* Default background color */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* Default font */

    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}
.exercise-box p {
    margin: 0;
    font-size: 16px;
}

#box-1 {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    /* Yellow */
}

.box-2 {
    background-color: lightgreen;
    font-family: 'Times New Roman', Times, serif
    /* Green */
}